.boxLayout{

    height: 100vh;
    background-size: cover;
    color: $f-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLayout__box{
 background:  $sf-color;
 width: 30rem;
 padding: $l-size $m-size;
 text-align: center;
 border-radius: 3px;
 @media (max-width: $desktop-breakpoint) {
    margin: 0 50px;
    }
}

.boxLayout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
    @media (max-width: $desktop-breakpoint) {
        margin: 0 0 $s-size 0;
        font-size: 30px;
        }
   }


   .Dropzone{
    // background-color: cadetblue;
    border-radius: 5px;
    height: $xl-size;
    border: dashed 2px $t-color;
    p{
        margin-top: $m-size;
        align-self: center;
    }

    @media (max-width: $desktop-breakpoint) {
        height: $xl-size;
        }

  }

