
.listhead{

    line-height: 60px;
    text-align: center;
}

.listitem{
    height: 50px; 
    line-height: 40px;
    border-top: solid 1px darken($sf-color, 7%) ;
}
.titleCol{
    display: flex;
    justify-content: space-between;

    a{
        text-decoration: none;
        color: $f-color;
    }
}

.item__title{
 padding-left: $m-size;
}
.item__score{
    padding:  0 $m-size;
    text-align: center;
}
.item__status{
    @extend .item__score

}
.item__episodes{

    @extend .item__score
    
}
.item__watched{

    @extend .item__score
}
.item__volumes{

    @extend .item__score
}
.item__chapters{

    @extend .item__score
}
.item__readvolumes{

    @extend .item__score
}
.item__readchapters{
    @extend .item__score

}