@import './settings.scss';
@import './components/container.scss';
@import './components/HomePage.scss';
@import './components/item.scss';
@import './components/List.scss';
@import './components/ViewPage.scss';
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:$f-color;
  color: $f-color;
  font-size: 16px;
}


header{
  background: $t-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  h1{
    font-size: $Lf-size;
    margin: 0;
    @media (max-width: $desktop-breakpoint) {
      font-size: $Sf-size;
      }
  }

  
}
.header__title{
  text-decoration: none;
  color:$sf-color;
  
}

a{
  text-decoration: none;
  color: $f-color;
}