
$f-color:#477095;
$s-color:#925FB7;
$t-color:#343438;
$ff-color:#BBA8AA;
$sf-color:#D3E2EF;

$s-size:1;
$m-size : 1.6rem;
$l-size :3.2rem;
$xl-size:4.8rem;
$xxl-size:6.4rem;
$desktop-breakpoint: 42rem;



$Mf-size: 3.4rem;
$Lf-size:4rem;