
$f-color:#10375c;
$s-color:#844685;
$ff-color:#faf4ff;
$sf-color:#f3c623;

$s-size:1;
$m-size : 1.6rem;
$l-size :3.2rem;
$xl-size:4.8rem;
$xxl-size:6.4rem;
$desktop-breakpoint: 42rem;



$Mf-size: 3.4rem;
$Lf-size:4rem;